
/* #region hero */

.hero{
    position: relative;
    min-height: 100vh;
    overflow-x: clip;

    /* background-color: #fff; */
}
/* #region marquees */
.hero-marquees{
    position: absolute;
    inset: 0;
    pointer-events: none;
    /* z-index: 5; */
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 52.5%;
    transform: translateY(calc(-50% + 25px));
}

.marquee{
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: auto;
}

.marquee-track{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 2rem;
    white-space: nowrap;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

.marquee span{
    display: inline-block;
    padding-right: 1.5rem;
    font-size: clamp(7rem, 12vw, 10rem);
    text-transform: uppercase;
    font-weight: 700;
    color: #222222;
}

.marquee-top{
    top: 0;
    margin-left: -50vw;
    width: calc(100% + 50vw);
}

.marquee-middle{
    transform: translateY(-50%);
    margin-left: -10vw;
    width: calc(100% + 10vw);
}

.marquee-bottom{
    bottom: 0;
    z-index: 999;
    margin-left: -40vw;
    width: calc(100% + 40vw);
}
/* #endregion */

.firstImg{
    max-height: 60vh;
    position: absolute;
    left: 50%;
    top: 52.5%;
    transform: translate(-50%, calc(-50% + 20px));
    z-index: 1;
}

.hero .socials{
    display: flex;
    flex-direction: column;
    gap: 32px;

    position: absolute;
    bottom: 42px;
    left: 32px;
}

.hero .socials i{
    font-size: 32px;
}

.hero .right{
    position: absolute;
    bottom: 32px;
    right: 32px;
    width: 665px;
}

.hero .right h1{
    font-size: 72px;
    font-weight: 500;
    line-height: 1;
}

.hero-btn{
    /* 160px + 32px * 2   <-- socials */
    /* 80px (+ 32px) nav */

    height: calc(100vh - (160px + 32px + 32px));
    margin-left: 32px;
    padding-top: 80px;
    width: fit-content;

    position: relative;
}
.hero button{
    position: sticky;
    top: 80px;
}

.hero .bottom{
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-content: space-between;
    padding: 32px;
    height: auto;
}

.hero .bottom h2{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
/* #endregion */

/* #region about*/

.about{
    margin-top: 25vh;
    /* border-bottom: 2px solid rgba(0, 0, 0, .3); */
    position: relative;
}
.about h3{
    margin: 16px 32px;
    color: #222;
    font-size: 20px;
    font-weight: 300;
}
.aboutCont{
    display: flex;
    justify-content: space-around;
    gap: 56px;
    margin: 0 32px;
    padding: 0 10vw;
    padding-bottom: 80vh;
    /* border-right: 2px solid rgba(0, 0, 0, .3); */
}
.about h1{
    font-size: 96px;
    margin: 0 32px;
    /* font-family: "Manrope", sans-serif; */
    line-height: 1;
    margin-top: 12px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 10vh;
    z-index: 1;
    mix-blend-mode:difference;
    color: #fff;
}
.aboutCont p{
    max-width: 20vw;
}
.about .img{
    background-color: #222222;
    height: 80vh;
    width: 25vw;
}
.aboutCont p:nth-of-type(2){
    margin-top: auto;
}


/* #endregion */

/* #region work */
.work{
    width: 100%;
    position: relative;
}

.workHeader{
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    margin-left: 32px;
    padding-top: 80px;
}
.workHeader h1{
    font-size: 96px;
}
.workHeader p{
    color: rgba(0, 0, 0, .8);
    margin: 16px;
}

.workCont{
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 100%;
    gap: 128px;
}
.projekti{
    z-index: 5;
    width: 100%;
    display: flex;
    gap: 32px;
}
.projekti:nth-of-type(2){
    flex-direction: row-reverse;
}
.projekti .img{
    width: 50%;
    height: auto;
    padding-bottom: 35%;
    z-index: 10;
    position: relative;
    overflow: hidden;
    
}
@keyframes workImg{
    from{
        background-position: center 10%;
    }
    to{
        background-position: center   80%;
    }
}

.projekti .img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: var(--hover-image);
    will-change: clip-path;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.6s ease;
}

.projekti .img.is-visible::after{
    clip-path: inset(0 0 0 0);
}
.projekti .text{
    width: 50%;
}
.projekti .text h1{
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 16px;
}
.projekti .text p{
    margin-bottom: 32px;
}
.projekti .text .bottom{
    display: flex;
}
.projekti .text .bottom button{
    height: fit-content;
}
.projekti .text .bottom div{
    max-width: 40%;
}
/* #endregion */

/* #region hinnat */
.hinnat{
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    padding: 50vh 0;
    position: relative;
}
.hinnatOtsikko{
    margin-top: 10vh;
    margin-left: 32px;
    margin-bottom: 32px;
    font-size: 96px;
    font-weight: 500;
    width: 100%;
}

.hinnatCont{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.hinnatCont .top{
    display: flex;
    gap: 32px;
    padding: 32px;
}

.hinnatCont .top .text{
    width: 25%;
}
.hinnatCont .top .text h2{
    font-size: 56px;
    font-weight: 400;
}
.hinnatCont .top .card{
    width: 25%;
    background-color: #fff;
    padding: 16px;
    position: relative;
}
.hinnatCont .top .card span{
    position: absolute;
    left: 16px;
    top: -16px;
    background-color: #ff5930;
    padding: 12px;
    border-radius: 28px;
}
.hinnatCont .top .card h2{
    margin-top: 32px;
}
.hinnatCont .top .card h1{
    font-size: 78px;
    padding-top: 32px;
    font-weight: 400;
}

.hinnatCont .top .card:nth-of-type(4){
    background-color: #ff5930;
}
.hinnatCont .bottom {
    padding: 32px;
    display: flex;
    flex-direction: column;
}
.hinnatCont .bottom .row{
    width: 100%;
    border-top: rgba(0, 0, 0, 0.3) 2px solid;

    display: flex;
    align-items: center;
    height: 72px;
    gap: 32px;
}

.hinnatCont .bottom .row i{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgb(22, 228, 22);
}
.hinnatCont .bottom .row p{
    width: 25%;

}

/* .card{
    border: 2px solid #eee;
    padding: 32px;
    height: 85vh;
    width: 30vw;
}
.card:nth-of-type(2){
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 2px;
    background-image:
        linear-gradient(#fff, #fff),
        linear-gradient(
          60deg,
          hsl(0, 0%, 0%),
          hsl(0, 0%, 90%),
          hsl(0, 0%, 0%),
          hsl(0, 0%, 90%),
          hsl(0, 0%, 0%),
          hsl(0, 0%, 90%),
          hsl(0, 0%, 0%),
          hsl(0, 0%, 90%)
        );
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 300% 300%;
    background-position: center, 0 50%;
    animation: moveGradient 4s alternate infinite;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.card h1{
    font-size: 56px;

}
.card .hinta{
    font-size: 128px;
}
.card ul li{
    font-size: 22px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgba(0, 0, 0, .8);
}
.card h2{
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(0, 0, 0, .8);
}
.card h3{
    margin: 24px 0;
    font-size: 20px;
} */

/* #endregion */

/* #region footer */
footer{
    width: 100%;
    height: 150vh;
    /* padding-top: ; */

    color: #fff;
    position: relative;
}

.footerCont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 32px; */
    padding-top: 160px;/* navBar height */
}
.footerCont h2{
    margin-left: 32px;
    display: none;
}
.footerCont .row{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
}
.footerCont h1, .footerCont .yhteystiedot{
    margin-top: auto;
    /* height: 30vh; */
}
.footerCont .yhteystiedot li{
    line-height: 1.5;
    font-size: 22px;
}
.yhteystiedot{
    /* padding-left: 16px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 12px;
}
.footerCont h1{
    font-size: 156px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -0%);
    white-space: nowrap;
    display: none;
}
footer hr{
    border-color: rgba(255, 255, 255, 0.4);
}

.footerCont .bottom{
    height: 56px;
    display: flex;
    padding: 0 32px;
    align-items: center;
}

.footerCont .bottom a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 800;
    margin-right: 16px;
}
.footerCont .bottom a:hover{
    color: rgba(255, 255, 255, 1);
}

.footerCont .bottom p{
    margin-left: auto;
}

@keyframes footer-bg {
    0%{
        background-color: #efefef;
    }
    /* 20%{
        background-color: #fdffff;
        color: #000;
    }
    25%{
        background-color: #000;
        color: #fff;

    }
    60%{
        background-color: #000;
        color: #fff;
    }
    65%{
        background-color: #fdffff;
        color: #000;
    } */
    90%{
        background-color: #efefef;
        color: #000;
    }
    100%{
        background-color: #000;
        color: #fff;
    }
}

/* #endregion */

/* #region hr */
.hero hr{
    position: absolute;
}
.hero hr:nth-of-type(1){
    top: 160px;
    left: 0;
}
.hero hr:nth-of-type(2){
    bottom: 74px;
    left: 0;
}
.hero hr:nth-of-type(3){
    bottom:0;
    left: 0;
    margin: 0;
}
.hero-line{
    position: absolute;
    height: 125vh;
    width: 40vw;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid rgba(0, 0, 0, .3);
    border-top: 0;
    border-bottom: 0;
}
.work-line{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0;
    left: 32px;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top: 0;
    border-bottom: 0;
}
.hinnat-line{
    position: absolute;
    height: calc(100% + 72.2222vh);
    top: 0vh;
    width: calc(60vw + 48px);
    border-left: 2px solid rgba(0, 0, 0, .3);
    border-right: 2px solid rgba(0, 0, 0, .3);
}
/* #endregion */

@media (max-width: 1420px){
    .hinnatOtsikko{
        font-size: clamp(0px, 10vw, 156px);
    }
}

@media (max-width: 1300px){
    .workHeader h1{
        font-size: clamp(0px, 10vw, 124px);
    }

    .hinnat .card{
        width: 40vw;
    }

    .hinnat-line{
        width: calc(80vw + 48px);
    }
}


@media (max-width: 1000px){

    .hinnatOtsikko{
        max-width: 60vw;
        font-size: 124px;
    }

    .hero-line{
        display: none;
    }
    
    .workHeader hr{
        display: none;
    }
    .workHeader{
        position: static;
        height: auto;
        width: 100%;
        padding: 0 0 20vh 0;
    }
    .workHeader h1{
        font-size: 156px;
        padding-right: 32px;
    }
    .work-line{
        border-right: 0;
    }
    .workCont{
        width: 100%;
        margin: 0;
    }

    .hinnatCont{
        flex-direction: column;
    }
    .hinnatCont .card{
        width: 80vw;
    }
        .hinnatCont .card .features{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .footerCont .row h1{
        font-size: clamp(0px, 20vw, 256px);
    }
}

@media (max-width: 800px){ /* NAVMENU */
    .navMenu{
        display: flex;

    }
    .navLinks{
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60vh + 160px);
        padding-top: 160px;
        top: calc(-60vh - 160px);

        flex-direction: column;
        background-color: #ffffff;
        mix-blend-mode: difference;
        gap: 0;

        transition: top 0.6s ease;
    }
    .navLinks li{
        width: 100%;
        color: #000;
        height: 20vh;
        font-size: 18vh;
        font-family: "Humane", sans-serif;
        padding-left: 32px;
        font-weight: 500;
        border-top: rgba(0, 0, 0, .3) 2px solid;
        margin: 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        background-color: #fff;
    }
    .navLinks li:hover{
        background-color: #000;
        color: #fff;
    }
    .navLinks li::before{
        display: none;
    }

    nav.menu-active{
        mix-blend-mode: normal;
        color: #000;
    }
    nav.menu-active .navLinks{
        top: 0;
    }
    nav.menu-active .navMenu .navMenuCont{
        gap: 0;
        justify-content: center;
    }
    nav.menu-active .navMenuCont .bar{
        background-color: #000;
    }
    nav.menu-active .navMenuCont .bar:nth-of-type(1){
        transform: rotate(45deg) translateY(2px);
    }
    nav.menu-active .navMenuCont .bar:nth-of-type(2){
        display: none;
    }
    nav.menu-active .navMenuCont .bar:nth-of-type(3){
        transform: rotate(-45deg) translateY(-2px);
    }
    body.menu-active{
        background-color: #000 !important;
        color: #fff !important;
    }


    .aboutCont p{
        max-width: 100%;
        text-align: left;
        margin-left: 0 !important;
        padding-right: 32px;
        font-size: clamp(24px, 6vw, 34px);
    }

    .footerCont .row{
        flex-direction: column;
        border: 0;
    }

    .footerCont .row .yhteystiedot{
        border: 0;
        padding-left: 0;
    }

    .footerCont .bottom{
        flex-direction: column-reverse;
        align-items: flex-start;
        height: auto;
    }
    .footerCont .bottom p{
        margin: 0;
        margin: 16px 0;
    }
    .footerCont .bottom div{
        height: auto;
    }
    .footerCont .bottom div a{
        height: 16px;
    }
}

@media (max-width: 540px){
    .hero .bottom h2:nth-of-type(2){
        display: none;
    }   

    .workHeader h1{
        font-size: clamp(0px, 30vw, 136px);
    }

    .hinnatCont .card{
        width: 95vw;
    }
    
    .hinnat-line{
        display: none;
    }
    .hinnatOtsikko{
        max-width: 90vw;
        font-size: 116px;
    }
}

@media (max-width: 420px){
    .navMenu h2{
        display: none;
    }

    .hinnatCont .card{
        height: 95vh;
    }
}
